{%- for evpn_elan in routing_instance -%}

delete routing-instances {{ evpn_elan.vpls }}
set routing-instances {{ evpn_elan.evi }} route-distinguisher {{ evpn_elan.rd }}
set routing-instances {{ evpn_elan.evi }} vrf-target {{ evpn_elan.rt }}

{%- endfor -%}

{% for evpn_interfaces_ri in routing_instance_interfaces %}

set routing-instances {{ evpn_interfaces_ri.evi }} interface {{ evpn_interfaces_ri.interface }}
set routing-instances {{ evpn_interfaces_ri.evi }} protocols evpn interface {{ evpn_interfaces_ri.interface }}

{%- endfor -%}

{% for evpn_interfaces in elan_large %}

delete interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }}
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} encapsulation vlan-bridge
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} vlan-tags outer {{ evpn_interfaces.svlan }}
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} vlan-tags inner {{ evpn_interfaces.cvlan }}

{%- endfor -%}

{% for evpn_interfaces in elan_small %}

delete interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }}
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} encapsulation vlan-bridge
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} vlan-id {{ evpn_interfaces.vlan }}

{%- endfor -%}

{% for interface in interface_description %}
set interfaces {{ interface.interface }} unit {{ interface.unit }} description "{{ interface.description }}"
{%- endfor -%}

{% for interface in interface_input_filter_vpls %}
set interfaces {{ interface.interface }} unit {{ interface.unit }} family vpls filter input {{ interface.input_filter }}
{%- endfor -%}

{% for interface in interface_input_filter_evpn %}
set interfaces {{ interface.interface }} unit {{ interface.unit }} family bridge filter input {{ interface.input_filter }}
{%- endfor -%}

{% for evpn_interfaces in elan_mh_hor %}

delete interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }}
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} encapsulation vlan-bridge
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} vlan-id {{ evpn_interfaces.vlan }}
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} esi {{ evpn_interfaces.esi }}
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} esi single-active
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} esi df-election-type preference value 200

{%- endfor -%}

{% for evpn_interfaces in elan_mh_slo %}

delete interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }}
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} encapsulation vlan-bridge
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} vlan-id {{ evpn_interfaces.vlan }}
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} esi {{ evpn_interfaces.esi }}
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} esi single-active
set interfaces {{ evpn_interfaces.interface }} unit {{ evpn_interfaces.unit }} esi df-election-type preference value 100

{%- endfor -%}

{% for evpn_interfaces in elan_mh_hor_cv %}

delete interfaces ae0 unit {{ evpn_interfaces.unit }}
set interfaces ae0 unit {{ evpn_interfaces.unit }} encapsulation vlan-bridge
set interfaces ae0 unit {{ evpn_interfaces.unit }} vlan-id {{ evpn_interfaces.vlan }}
set interfaces ae0 unit {{ evpn_interfaces.unit }} esi {{ evpn_interfaces.esi }}
set interfaces ae0 unit {{ evpn_interfaces.unit }} esi single-active
set interfaces ae0 unit {{ evpn_interfaces.unit }} esi df-election-type preference value 200

{%- endfor -%}

{% for evpn_interfaces in elan_mh_hor_teco %}

delete interfaces ae4 unit {{ evpn_interfaces.unit }}
set interfaces ae4 unit {{ evpn_interfaces.unit }} encapsulation vlan-bridge
set interfaces ae4 unit {{ evpn_interfaces.unit }} vlan-id {{ evpn_interfaces.vlan }}
set interfaces ae4 unit {{ evpn_interfaces.unit }} esi {{ evpn_interfaces.esi }}
set interfaces ae4 unit {{ evpn_interfaces.unit }} esi single-active
set interfaces ae4 unit {{ evpn_interfaces.unit }} esi df-election-type preference value 200

{%- endfor -%}

{% for evpn_interfaces in elan_mh_slo_cv %}

delete interfaces ae0 unit {{ evpn_interfaces.unit }}
set interfaces ae0 unit {{ evpn_interfaces.unit }} encapsulation vlan-bridge
set interfaces ae0 unit {{ evpn_interfaces.unit }} vlan-id {{ evpn_interfaces.vlan }}
set interfaces ae0 unit {{ evpn_interfaces.unit }} esi {{ evpn_interfaces.esi }}
set interfaces ae0 unit {{ evpn_interfaces.unit }} esi single-active
set interfaces ae0 unit {{ evpn_interfaces.unit }} esi df-election-type preference value 100

{%- endfor -%}

{% for evpn_interfaces in elan_mh_slo_teco %}

delete interfaces ae4 unit {{ evpn_interfaces.unit }}
set interfaces ae4 unit {{ evpn_interfaces.unit }} encapsulation vlan-bridge
set interfaces ae4 unit {{ evpn_interfaces.unit }} vlan-id {{ evpn_interfaces.vlan }}
set interfaces ae4 unit {{ evpn_interfaces.unit }} esi {{ evpn_interfaces.esi }}
set interfaces ae4 unit {{ evpn_interfaces.unit }} esi single-active
set interfaces ae4 unit {{ evpn_interfaces.unit }} esi df-election-type preference value 100

{%- endfor -%}