{%- for vpls in routing_instance -%}

delete routing-instances {{ vpls.evpn }}
set routing-instances {{ vpls.vpls_name }} route-distinguisher {{ vpls.rd }}
set routing-instances {{ vpls.vpls_name }} vrf-target {{ vpls.rt }}

{%- endfor -%}

{% for vpls_interfaces_ri in sh_site %}

set routing-instances {{ vpls_interfaces_ri.vpls_name }} interface {{ vpls_interfaces_ri.interface }}
set routing-instances {{ vpls_interfaces_ri.vpls_name }} protocols vpls site SITE interface {{ vpls_interfaces_ri.interface }}

{%- endfor -%}

{% for vpls_interfaces_ri in mh_site_cv %}

set routing-instances {{ vpls_interfaces_ri.vpls_name }} interface {{ vpls_interfaces_ri.interface }}
set routing-instances {{ vpls_interfaces_ri.vpls_name }} protocols vpls site SITE-CV interface {{ vpls_interfaces_ri.interface }}

{%- endfor -%}

{% for vpls_interfaces_ri in mh_site_teco %}

set routing-instances {{ vpls_interfaces_ri.vpls_name }} interface {{ vpls_interfaces_ri.interface }}
set routing-instances {{ vpls_interfaces_ri.vpls_name }} protocols vpls site SITE-TECO interface {{ vpls_interfaces_ri.interface }}

{%- endfor -%}

{% for vpls_interfaces in elan_large %}

delete interfaces {{ vpls_interfaces.interface }} unit {{ vpls_interfaces.unit }}
set interfaces {{ vpls_interfaces.interface }} unit {{ vpls_interfaces.unit }} encapsulation vlan-vpls
set interfaces {{ vpls_interfaces.interface }} unit {{ vpls_interfaces.unit }} vlan-tags outer {{ vpls_interfaces.svlan }}
set interfaces {{ vpls_interfaces.interface }} unit {{ vpls_interfaces.unit }} vlan-tags inner {{ vpls_interfaces.cvlan }}

{%- endfor -%}

{% for vpls_interfaces in elan_small %}

delete interfaces {{ vpls_interfaces.interface }} unit {{ vpls_interfaces.unit }}
set interfaces {{ vpls_interfaces.interface }} unit {{ vpls_interfaces.unit }} encapsulation vlan-vpls
set interfaces {{ vpls_interfaces.interface }} unit {{ vpls_interfaces.unit }} vlan-id {{ vpls_interfaces.vlan }}

{%- endfor -%}

{% for interface in interface_description %}
set interfaces {{ interface.interface }} unit {{ interface.unit }} description "{{ interface.description }}"
{%- endfor -%}

{% for interface in interface_input_filter_vpls %}
set interfaces {{ interface.interface }} unit {{ interface.unit }} family vpls filter input {{ interface.input_filter }}
{%- endfor -%}